<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01
    Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/parts/header :: common_header(~{::title},~{::link})">
    <title>Manager</title>
</head>
<body>
<!--menu-->
<div th:replace="~{/parts/menu :: menutomanager}"></div>
<div th:replace="~{/parts/header :: content}"></div>
<!--Konteiner-->

<div class="container-fluid">

    <div>
        <h2>Список клиентов:</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ПАО и т.д.</th>
                <th scope="col">Название</th>
                <th scope="col">ИНН</th>
                <th scope="col">КПП</th>
                <th scope="col">Телефон</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${clients}" th:each="client : ${clients}">
                <th scope="row">
                    <a th:text="${client.getId()}" href="#"></a>
                </th>
                <td th:text="${client.getAffiliation()  }"></td>
                <td th:text="${client.getName()  }"></td>
                <td th:text="${client.getInn()  }"></td>
                <td th:text="${client.getKpp()  }"></td>
                <td th:text="${client.getPhone()  }"></td>
            </tr>
            </tbody>
        </table>

        <p th:unless="${clients}" th:text="${'Список студентов пуст'}"></p>
    </div>
</div>

<!--Footer-->
<div th:replace="~{/parts/footer :: content}"></div>
<div th:replace="~{/parts/parts :: links}"></div>
</body>
</html>