<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01
    Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/parts/header :: common_header(~{::title},~{::link})">
    <title>Manager</title>
</head>
<body>
<!--menu-->
<div th:replace="~{/parts/menu :: menutoadmin}"></div>
<div th:replace="~{/parts/header :: content}"></div>
<!--Konteiner-->

    <div>
        <h3>Заполнение заявки</h3>
        <form method="post">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="affiliation">ООО, ИП, АО, ПАО и т.д.</label>
                    <input class="form-control" id="affiliation" name="affiliation"
                           placeholder="ООО, ИП, АО, ПАО и т.д.">
                </div>
                <div class="form-group col-md-8">
                    <label for="name">Название</label>
                    <input class="form-control" id="name" placeholder="Название" name="name">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inn">ИНН</label>
                    <input class="form-control" id="inn" name="inn" placeholder="777777777777">
                </div>
                <div class="form-group col-md-4">
                    <label for="kpp">КПП</label>
                    <input class="form-control" id="kpp" placeholder="777777777" name="kpp">
                </div>
                <div class="form-group col-md-4">
                    <label for="phone">Телефон</label>
                    <input class="form-control" id="phone" placeholder="79990001122" name="phone">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="bankName">Название банка</label>
                    <input class="form-control" id="bankName" placeholder="Банк" name="bankName"
                    >
                </div>
                <div class="form-group col-md-4">
                    <label for="bankBik">БИК банка</label>
                    <input class="form-control" id="bankBik" placeholder="04162046" name="bankBik"
                    >
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="bankCorAccount">Кор счет</label>
                    <input class="form-control" id="bankCorAccount" placeholder="1231321321321" name="bankCorAccount">
                </div>
                <div class="form-group col-md-6">
                    <label for="bankAccount">№ счета</label>
                    <input class="form-control" id="bankAccount" placeholder="1231654651651" name="bankAccount">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="addressCountry">Страна</label>
                    <input class="form-control" id="addressCountry" placeholder="Россия" name="addressCountry">
                </div>
                <div class="form-group col-md-6">
                    <label for="addressCity">Город</label>
                    <input class="form-control" id="addressCity" placeholder="Москва" name="addressCity">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="addressStreet">Улица</label>
                    <input class="form-control" id="addressStreet" placeholder="ул. Карла Маркса" name="addressStreet">
                </div>
                <div class="form-group col-md-3">
                    <label for="addressHouseNumber">Номер дома</label>
                    <input class="form-control" id="addressHouseNumber" placeholder="13" name="addressHouseNumber">
                </div>
                <div class="form-group col-md-3">
                    <label for="addressOfficeNumber">Номер офиса(кв., помещение)</label>
                    <input class="form-control" id="addressOfficeNumber" placeholder="офис 12"
                           name="addressOfficeNumber">
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Сохранить заявку</button>
        </form>
    </div>




<!--Footer-->
<div th:replace="~{/parts/footer :: content}"></div>
<div th:replace="~{/parts/parts :: links}"></div>
</body>
</html>