<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01
    Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/parts/header :: common_header(~{::title},~{::link})">
    <title>Admin гавная</title>
</head>
<body>
<!--menu-->
<div th:replace="~{/parts/menu :: menutoadmin}"></div>
<div th:replace="~{/parts/header :: content}"></div>
<!--Konteiner-->

    <div>
        <h2>Список чего-то:</h2>
        <!--    <ul th:if="${contracts}" th:each="contract : ${contracts}">-->
        <!--        <li>-->
        <!--            <span th:text="${contract.getContractAmount() + ' ' + contract.getContractId() + ' ' + contract.getContractEndDate() + ' ' + contract.getDateAuction() + ' ' + contract.getPurchaseAmount() + ' ' + contract.getClient()  + ' ' + contract.getStatusEnum()}"></span>-->
        <!--            &lt;!&ndash;<a th:href="@{/user/administrator/edit/{id}(id=${student.getId()})}"-->
        <!--            ><img class="img__icon" th:src="@{/icons/edit.png}"></a>-->
        <!--            <a th:href="@{/user/administrator/delete/{id}(id=${student.getId()})}"-->
        <!--            ><img class="img__icon" th:src="@{/icons/delete.png}"></a>&ndash;&gt;-->
        <!--        </li>-->
        <!--    </ul>-->
        <!--    <p th:unless="${contracts}" th:text="${'Список студентов пуст'}"></p>-->
    </div>

<!--Footer-->
<div th:replace="~{/parts/footer :: content}"></div>
<div th:replace="~{/parts/parts :: links}"></div>
</body>
</html>