<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01
    Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/parts/header :: common_header(~{::title},~{::link})">
    <title>Привет!</title>
</head>
<body>

<!--menu-->

<div th:replace="~{/parts/header :: content}"></div>
<div th:replace="~{/parts/menu :: menutoadmin}"></div>
<!--Konteiner-->


<div>

    <div class="container my-3">
        <div class="row">
            <div class="col-sm">
                <div class="container">
                    <h2>Список заявок:</h2>
                </div>
            </div>
            <div class="col-sm">
                <div class="col-4 align-self-end">
                    <button class="btn btn-primary">
                        <a class="nav-link-bottom" th:href="@{/admin/createApplication}">Создать заявку</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${aplications}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Номер заявки</th>
                <th scope="col">Начальная цена</th>
                <th scope="col">Закупочная цена</th>
                <th scope="col">Дата окончани подачи заявки</th>
                <th scope="col">Дата аукциона</th>
                <th scope="col">Статус заявки</th>
                <th scope="col">Заказчик</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="aplication : ${aplications}">
                <th class="col-1" scope="row" th:text="${aplication.getId()  }"></th>
                <td>
                    <a class="nav-link" th:text="${aplication.getApplicationId()  }"
                       th:href="@{/admin/aplication/{aplicationId}(aplicationId=${aplication.getId()})}"></a>
                </td>
                <td class="col-1" th:text="${aplication.getInitialMaximumPrice()  }"></td>
                <td class="col-1" th:text="${aplication.getPurchasePrice()  }"></td>
                <td th:text="${aplication.getApplicationDeadlineDate()  }"></td>
                <td th:text="${aplication.getAuctionDate()  }"></td>
                <td class="col-2" th:text="${aplication.getApplicationStatusEnum()  }"></td>
                <td class="col-3" th:text="${aplication.getCustomer().getNameCustomer()  }"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p th:unless="${aplications}" th:text="${'Список заявок пуст'}"></p>
</div>

<!--Footer-->
<div th:replace="~{/parts/footer :: content}"></div>
<div th:replace="~{/parts/parts :: links}"></div>
</body>
</html>