<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01
    Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/parts/header :: common_header(~{::title},~{::link})">
    <title>Админ создание сотрудника</title>
</head>
<body>
<!--menu-->

<div th:replace="~{/parts/header :: content}"></div>
<div th:replace="~{/parts/menu :: menutoadmin}"></div>
<!--Konteiner-->

<div class="container my-3">
    <div class="row">
        <div class="col-sm">
            <div class="container">
                <h3> Добавление сотрудника</h3>
            </div>
        </div>
        <div class="col-sm">
            <div class="col-4 align-self-end">
                <button class="btn btn-primary">
                    <a class="nav-link-bottom" th:href="@{/admin/list-employees}">Назад</a>
                </button>
            </div>
        </div>
    </div>
</div>


<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">Имя</label>
            <input class="form-control" id="name" name="name"
                   placeholder="Имя">
        </div>
        <div class="form-group col-md-6">
            <label for="patronymic">Отчество</label>
            <input class="form-control" id="patronymic" name="patronymic"
                   placeholder="Отчество">
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="family">Фамилия</label>
            <input class="form-control" id="family" placeholder="Фамилия" name="family">
        </div>
        <div class="form-group col-md-6">
            <label class="my-1 mr-2" for="roleEnum">Должность</label>
            <select class="custom-select my-1 mr-sm-2" id="roleEnum" name="roleEnum">
                <option selected>Выбор должности...</option>
                <option th:each="role : ${roleList}" th:value="${role.name()}"
                        th:text="${role.name()}"></option>

            </select>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Сохранить</button>
</form>
<!--        <form method="post">-->
<!--            &lt;!&ndash;        <p th:if="${errorsList!= null}">&ndash;&gt;-->
<!--            &lt;!&ndash;        <p class="errorMessage" th:each="error: ${errorsList}"&ndash;&gt;-->
<!--            &lt;!&ndash;           th:text="${error.getField() + ' ' + error.getDefaultMessage()}"></p>&ndash;&gt;-->
<!--            &lt;!&ndash;        </p>&ndash;&gt;-->
<!--            <h1>Создание</h1>-->

<!--            <div class="block__form">-->
<!--                <div class="text__form">Имя:</div>-->
<!--                <div><input name="name"/></div>-->
<!--            </div>-->
<!--            <div class="block__form">-->
<!--                <div class="text__form">Фамилия:</div>-->
<!--                <div><input name="family"/></div>-->
<!--            </div>-->
<!--            <div class="block__form">-->
<!--                <div class="text__form">Отчество:</div>-->
<!--                <div><input name="patronymic"/></div>-->
<!--            </div>-->
<!--            <div class="block__form">-->
<!--                <div class="text__form">Статус заявки:</div>-->
<!--                <div>-->
<!--                    <select name="roleEnum">-->
<!--                        <option th:each="role : ${roleList}" th:value="${role.ordinal()}"-->
<!--                                th:text="${role.name()}"></option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->


<!--            <div>-->
<!--                <button>Создать сотрудника</button>-->
<!--            </div>-->

<!--        </form>-->
</div>


<!--Footer-->
<div th:replace="~{/parts/footer :: content}"></div>
<div th:replace="~{/parts/parts :: links}"></div>
</body>
</html>