<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01
    Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/parts/header :: common_header(~{::title},~{::link})">
    <title>Админ Список сотрудника</title>
</head>
<body>
<!--menu-->

<div th:replace="~{/parts/header :: content}"></div>
<div th:replace="~{/parts/menu :: menutoadmin}"></div>
<!--Konteiner-->


<div class="container my-3">
    <div class="row">
        <div class="col-sm">
            <div class="container">
                <h2>Список сотрудников:</h2>
            </div>
        </div>
        <div class="col-sm">
            <div class="col-4 align-self-end">
                <button class="btn btn-primary">
                    <a class="nav-link-bottom" th:href="@{/admin/createEmployee}">Добавить сотрудника</a>
                </button>
            </div>
        </div>
    </div>
</div>

<table class="table" th:if="${employees}">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Отчество</th>
        <th scope="col">Должность</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${employees}" th:each="employee : ${employees}">
        <th scope="row" th:text="${employee.getId()  }"></th>
        <td th:text="${employee.getName()  }"></td>
        <td th:text="${employee.getFamily()  }"></td>
        <td th:text="${employee.getPatronymic()  }"></td>
        <td th:text="${employee.getRoleEnum()  }"></td>
    </tr>

    </tbody>
</table>
<p th:unless="${employees}" th:text="${'Список сотрудников пуст'}"></p>


<!--Footer-->
<div th:replace="~{/parts/footer :: content}"></div>
<div th:replace="~{/parts/parts :: links}"></div>
</body>
</html>