<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="common_header(title,links)">
    <head th:fragment="common_header(title,links)">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--CSS-->
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

    </head>
</th:block>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <div class="container-fluid d-block p-2 bg-dark text-white">
        <div class="container my-3">
            <div class="row">
                <div class="col-8">
                    <span >  Something</span>
                </div>
                <div class="col-4">
                    <span >Name employee</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

</th:block>

