<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="menutomanager">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manager/">Список контрактов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manager/listClient">Список клиентов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manager/createContract">Создать контракт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manager/createClient">Создать клиента</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Отчеты по контрактам</a>
                </li>
            </ul>
            <span class="navbar-text"> ФИО сотрудника</span>

        </div>
    </nav>


</th:block>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="menutoadmin">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
                aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/admin/listContract">Список контрактов</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/admin/listClient">Список клиентов</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/admin/list-employees">Список струдников</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/manager/createContract">Создать контракт</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/admin/createClient">Создать клиента</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/admin/createEmployee">Создать сотрудника</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/createApplication">Создать заявку</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/listAplication">Список заявку</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Отчеты по контрактам</a>
                </li>
            </ul>
            <span class="navbar-text"> ФИО сотрудника</span>
        </div>
    </nav>
</th:block>